*{
    margin:0;
    padding:0;
}
body{
    background: #002d54;
    height: auto;
}
a{
    color: #002d54;
    text-decoration: none;
}
/*顶部*/
#header{
    position: fixed;
    z-index: 100;
    width: 100%;
    padding-left: 15%;
    height: 80px;
    background: rgb(255, 255, 255);
    line-height: 80px;
}
img.logo{
    position: relative;
    width: 3%;
    float: left;
    padding: 10px 0;
}
#header .title{
    width: 12%;
    height: 80%;
    text-align: center;
    font-family: 华文彩云;
    color: #002d54;
    font-size: 20px;
    float: left;
}
#header .nav{
    width: 30%;
    float: left;
}
#header .nav ul{
    display: inline-block;
    width: 100%;
    text-align: center;
}
#header .nav ul li{
    list-style-type: none;
    padding: 0 3%;
    float: left;
}
#header .nav ul li a{
    font-size: 125%;
    text-decoration: none;
    font-family: "Microsoft YaHei UI";
}
#header .nav ul li a:hover{
    color: #ffffff;
    background: #002d54;
}
#header .search{
    display: block;
    width: 20%;
    float: left;
    text-align: right;
    padding: 25px 0;
}
#header .search img{
    width: 30px;
    float: right;
}
#header .search form{
    float: right;
}
#header .search input{
    border-radius:20px;
    width: 60%;
    height:30px;
    float: right;
    font-weight:200;
    font-size: 12px;
    color:#cccccc;
}
#header .information ul{
    position: absolute;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#header .information a:hover{
    background: #002d54;
    color: white;
}
#header .information .me img{
    float: left;
    width: 30px;
    margin-left: 3%;
    padding: 25px 0;
}
#header .me ul{
    display: none;
    left:-30px;
    top: 80px;
    background: white;
    width: 120px;
    height: 150px;
    border:0.6px solid #cccccc;
    font-family: 微软雅黑;
    position: relative;
    float: left;
    text-align:left;
    font-size: 18px;
    color: #cccccc;
    text-decoration: none;
}
#header .me:hover ul{
    display: block;
    position: absolute;
    left: 72%;
}
#header .e-mail img{
    float: left;
    width: 30px;
    padding: 25px 0;
    margin-left: 1%;
}
#header .e-mail ul{
    display: none;
    left:-30px;
    top: 80px;
    background: white;
    width: 120px;
    height: 150px;
    border:0.6px solid #cccccc;
    font-family: 微软雅黑;
    position: relative;
    float: left;
    text-align:left;
    font-size: 18px;
    color: #cccccc;
    text-decoration: none;
}
#header .e-mail ul li{
    list-style: none;
}
#header .e-mail:hover ul{
    display: block;
}
#seat{
    width: 100%;
    height: 80px;
}
/*顶部结束*/

/*图片滚动*/
#imgBack{
    width: 100%;
    height: auto;
    margin: auto;
}
#imgBack .imgRoll{
    width: 80%;
    height: auto;
    margin: 0 auto;
    position: relative;
}
#imgBack .imgRoll a{
    width: 50px;
    height: 50px;
    display: block;
    position:absolute;
    top:225px;
    z-index: 33;
}
#imgBack .imgRoll a.prev{
    left: 3%;
    background: url("../images/Logo_purple.png") -200px -100px;
}
#imgBack .imgRoll a.next{
    right: 3%;
    background: url("../images/Logo_purple.png") -100px -200px;
}
#imgBack .imgRoll a.prev:hover{
    background-position: -200px -200px;
}
#imgBack .imgRoll a.next:hover{
    background-position: -200px -200px;
}
#imgBack .imgRoll .roll{
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}
#imgBack .imgRoll .roll img{
    width: 100%;
    height: 500px;
    position: absolute;
    text-align: center;
    left: 100%;
}
#imgBack .but{
    width: auto;
    height: 25px;
    position: absolute;
    left: 45%;
    bottom: 5px;
    border-radius: 25px;
    text-align: center;
}
#imgBack .but span{
    width: 15px;
    height: 15px;
    display:inline-block;
    background: #c4c4c4;
    border-radius: 7.5px;
    position: relative;
    margin: 0 12.5px;
    top: 5px;
    }
#imgBack .but span.hover{
    background: #ffffff;
}
/*图片滚动*/

/*案例墙*/
#caseBack{
    position: relative;
    width: 100%;
    height: 500px;
    float: left;
    margin: 10px auto 0 auto;
}
#caseBack a{
    display: block;
    text-align: center;
    font-family: "Microsoft YaHei";
    font-size: 20px;
    color: #ffffff;
    text-decoration:none
}
#caseBack a:hover{
    color: #cccccc;
}
#caseBack .caseShow{
    width: 80%;
    height: 520px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#caseBack .caseShow .caseImg{
    z-index: 1;
    margin: 10px 0;
    position: absolute;
}
#caseBack .caseShow .caseImg img.big{
    width: 40%;
    height: 500px;
    float: left;
}
#caseBack .caseShow .caseImg img.middle{
    width: 40%;
    height: 250px;
    float: left;
}
#caseBack .caseShow .caseImg img.small{
    position: absolute;
    width: 20%;
    height: 500px;
    float: left;
}
#caseBack .caseShow .caseImg img:hover{
    z-index: 2;
    transform: scale(0.95,0.95);
    overflow: visible;
}
/*案例墙*/

#footer{
    width: 80%;
    position: relative;
    background: white;
    float: left;
    padding: 20px 10%;
    margin-top: 100px;
    margin-bottom: 50px;
}
#footer .footBack{
    z-index: 33;
}
#footer .footText1{
    line-height: 20px;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}
#footer .footText2{
    line-height: 20px;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}
#footer .footText3{
    line-height: 20px;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}
#footer h4{
    color: black;
    font-size: 18px;
    line-height: 30px;
}
#footer p{
    color: #888888;
}